Welcome to Travel Todo
%p
= link_to "Sign up as Traveller", new_traveller_registration_path
%p
= link_to "Sign up as Provider", new_traveller_registration_path(:type => "Provider")
%p
= link_to "Sign in as a Traveller", new_traveller_session_path
%p
= link_to "Sign in as a Provider", new_traveller_session_path(:type => "Provider")