body{
  background-image: url("/home-image.jpg");
}
.header {
  padding-top: 10%;
  width: 50%;
  margin: 0 auto;
}

.header h1, h2 {
  text-align: center;
  color: #FFF;
}

.header h2 {
  padding: 5% 0;
  font-size: 3em;
}

.traveller-buttons {
  width: 20%;
}

.btn-large{
  display: block;
}

.btn-large, .traveller-buttons{
  margin: 0 auto;
}