// Place all the styles related to the Journeys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#side-menu li{
  list-style: none;
}

.journey-title, .journey-description, .item-links{
  text-align: center;
}

.item-links a {
  padding-left: 5px;
}
