.property {
  width: 80%;
  margin: 0 auto;
  border: solid;
  margin-bottom: 10px;
  border-radius: 10px;
}

.property-image img{
  width: 300px;
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
}

.property-title, .property-description, .property-address {
  padding: 0 0 5px 10px;
}

.page-title {
  text-align: center;
}